body {
  /* background-color: var(--color-alpha); */
  background: linear-gradient(45deg, var(--color-alpha), var(--color-psi), var(--color-alpha));
  background-attachment: fixed;
  /* background-size: cover; */
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

.card {
  margin: 120px auto;
  width: 90%;
  position: relative;
}

.card-inner {
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  color: var(--color-beta);
  font-family: "OpenSans-Regular", "Roboto", sans-serif;
  padding: 20px;
  padding-bottom: 40px;
  font-size: 20px;
}

.card-inner > h1 {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.content {
  margin-bottom: 40px;
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(var(--color-psi), var(--color-alpha));
  border-radius: 50%;
  position: absolute;
  animation: move-up 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1){
  top: -20px;
  left: -15px;
}

.circle:nth-child(2){
  bottom: -20px;
  right: -15px;
  animation-name: move-down;
}

@keyframes move-up {
  to {
    transform: translateY(-100px);
  }
}

@keyframes move-down {
  to {
    transform: translateY(100px);
  }
}
